In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("P2- OfficeSupplies Data.csv")

In [3]:
df.head()

   OrderDate   Region      Rep     Item  Units  Unit Price
0  04-Jul-14     East  Richard  Pen Set     62        4.99
1  12-Jul-14     East     Nick   Binder     29        1.99
2  21-Jul-14  Central   Morgan  Pen Set     55       12.49
3  29-Jul-14     East    Susan   Binder     81       19.99
4  07-Aug-14  Central  Matthew  Pen Set     42       23.95

In [4]:
df.shape

(43, 6)

In [6]:
df.isnull().sum()

OrderDate     0
Region        0
Rep           0
Item          0
Units         0
Unit Price    0
dtype: int64

In [ ]:
df